---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/friends/leaderboard.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"friends":[{"average":{"steps":12944},"lastUpdateTime":"2016-10-26T19:03:57","lifetime":{"steps":1275230},"rank":{"steps":1},"summary":{"steps":87353},"user":{"age":0,"avatar":"https://static0.fitbit.com/images/profile/defaultProfile_100_male.gif","avatar150":"https://static0.fitbit.com/images/profile/defaultProfile_150_male.gif","averageDailySteps":12944,"city":"","clockTimeDisplayFormat":"12hour","corporate":false,"country":"","dateOfBirth":"","displayName":"Balthazar","encodedId":"USER1A","features":{},"friend":true,"fullName":"","gender":"MALE","height":180,"locale":"en_NZ","memberSince":"2016-06-28","mfaEnabled":false,"nickname":"","offsetFromUTCMillis":46800000,"state":"","strideLengthRunning":0,"strideLengthWalking":0,"timezone":"Pacific/Auckland","topBadges":[{"badgeGradientEndColor":"00D3D6","badgeGradientStartColor":"007273","badgeType":"DAILY_STEPS","category":"Daily
        Steps","cheers":[],"dateTime":"2016-10-23","description":"15,000 steps in
        a day","earnedMessage":"Congrats on earning your first Urban Boot badge!","encodedId":"BADGE","image100px":"http://static0.fitbit.com/images/badges_new/100px/badge_daily_steps15k.png","image125px":"http://static0.fitbit.com/images/badges_new/125px/badge_daily_steps15k.png","image300px":"http://static0.fitbit.com/images/badges_new/300px/badge_daily_steps15k.png","image50px":"http://static0.fitbit.com/images/badges_new/badge_daily_steps15k.png","image75px":"http://static0.fitbit.com/images/badges_new/75px/badge_daily_steps15k.png","marketingDescription":"You''ve
        walked 15,000 steps  And earned the Urban Boot badge!","mobileDescription":"With
        a number that''s almost three times more than the national average, your step
        count is really heating up.","name":"Urban Boot (15,000 steps in a day)","shareImage640px":"http://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_daily_steps15k.png","shareText":"I
        took 15,000 steps and earned the Urban Boot badge! #Fitbit","shortDescription":"15,000
        steps","shortName":"Urban Boot","timesAchieved":10,"value":15000},{"badgeGradientEndColor":"42C401","badgeGradientStartColor":"007D3C","badgeType":"LIFETIME_DISTANCE","category":"Lifetime
        Distance","cheers":[],"dateTime":"2016-10-03","description":"804 lifetime
        kilometers","earnedMessage":"Whoa! You''ve earned the Serengeti badge!","encodedId":"BADGE","image100px":"http://static0.fitbit.com/images/badges_new/100px/badge_lifetime_miles500.png","image125px":"http://static0.fitbit.com/images/badges_new/125px/badge_lifetime_miles500.png","image300px":"http://static0.fitbit.com/images/badges_new/300px/badge_lifetime_miles500.png","image50px":"http://static0.fitbit.com/images/badges_new/badge_lifetime_miles500.png","image75px":"http://static0.fitbit.com/images/badges_new/75px/badge_lifetime_miles500.png","marketingDescription":"By
        reaching 804 lifetime kilometers, you''ve earned the Serengeti badge!","mobileDescription":"Impressive!
        You''ve walked distance of the Serengeti\u2014one of the 7 Natural Wonders
        of the World.","name":"Serengeti (804 lifetime kilometers)","shareImage640px":"http://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_lifetime_miles500_km.png","shareText":"I
        covered 804 kilometers with my #Fitbit and earned the Serengeti badge.","shortDescription":"804
        kilometers","shortName":"Serengeti","timesAchieved":1,"unit":"KILOMETERS","value":804},{"badgeGradientEndColor":"38D7FF","badgeGradientStartColor":"2DB4D7","badgeType":"DAILY_FLOORS","category":"Daily
        Climb","cheers":[],"dateTime":"2016-07-26","description":"50 floors in a day","earnedMessage":"Congrats
        on earning your first Lighthouse badge!","encodedId":"BADGE","image100px":"http://static0.fitbit.com/images/badges_new/100px/badge_daily_floors50.png","image125px":"http://static0.fitbit.com/images/badges_new/125px/badge_daily_floors50.png"[...]
